.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lorby-background img {
  width: 100%;
  height: auto;
}

.back-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  color: white;
}

.back-btn p {
  margin-left: 10px;
  color: black;
}

.auth-create {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input input {
  flex: 1;
}

.show-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.password-requirements {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 10px;
  text-align: left;
}

.password-requirements li {
  margin-left: 20px;
}

button {
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
